<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @account.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @account.startDate %>
</p>

<p>
  <strong>Username:</strong>
  <%= @account.userName %>
</p>

<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
